.breakfast-section
    margin: 50px 0
    display: flex
    justify-content: center
    align-items: center
    
.breakfast-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 30px
    width: 100%

.breackfast-image
    flex: 1
    margin-top: 40px
    position: relative
    width: 100%
    height: 400px
    overflow: hidden
    border-radius: 10px
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)
    max-width: 600px
    min-width: 350px

.breakfast-image-img
    width: 100%
    overflow: hidden
    img
        max-width: 800px
        display: block
        object-fit: cover

.breakfast-text
    flex: 2
    max-width: 600px
    min-width: 350px

.breakfast-text-span 
    span
        font-family: Poppins
        font-weight: 400
        font-size: 15px
        text-transform: uppercase
        letter-spacing: 3px
        color: #908573

.breakfast-text-tittle-h1
    h1
        font-size: 56px
        font-family: "lora"
        font-weight: 700
        line-height: 40px

.breakfast-text-tittle-bar
    margin: 20px 0 40px 0
    display: flex

.breakfast-text-p
    span
        font-size: 15px
        color: #908573