.services-section
    display: flex
    justify-content: center
    align-items: center

.services-container
    padding: 60px 0
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    flex-direction: column
    
.services-sobre
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  max-width: 600px
  min-width: 350px

.services-text-span
  span
    font-family: Poppins
    font-weight: 400
    font-size: 15px
    text-transform: uppercase
    letter-spacing: 3px
    color: #908573

.services-text-tittle-h1
  h1
    font-size: 56px
    font-family: "lora"
    font-weight: 700
    line-height: 40px

.services-text-tittle-bar
  margin: 20px 0 40px 0
  display: flex
  justify-content: center

.bar
  height: 3px
  background: #000
  width: 150px

.services-container-grid
    width: 100%
    
    display: flex
    justify-content: center


.services-grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
    gap: 20px
    padding: 40px
    max-width: 1200px
    width: 100%
    background: #EEEEEE
    border-radius: 50px
    box-shadow: 0 0 5px
    margin: 0 20px

.services-items
    padding: 20px
    background: #F7F7F7
    border-radius: 5px
    border-left: 2px solid black
    border-right: 2px solid black
    display: flex
    justify-content: start
    align-items: center
    gap: 5px
    width: 80%
    svg
        font-size: 2em