.mobile-feature-section
    margin: 50px 0
    display: flex
    justify-content: center
    width: 100%

.mobile-feature-container
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    width: 100%
    padding: 0 20px
    box-sizing: border-box
    max-width: 850px

.mobile-feature-heading
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

.mobile-feature-span
    span
        font-family: Poppins
        font-weight: 400
        font-size: 13px
        text-transform: uppercase
        letter-spacing: 2px
        color: #908573

.mobile-feature-tittle
    display: flex
    flex-direction: column
    align-items: center

    h2
        font-size: 34px
        font-family: "lora"
        font-weight: 700
        line-height: 30px
        margin: 0
        text-align: center

    .bar
        height: 3px
        background: #000
        width: 80px
        margin-top: 5px

.mobile-feature-image
    width: 100%
    aspect-ratio: 16 / 10
    overflow: hidden
    border-radius: 10px
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)

    img
        width: 100%
        height: 100%
        object-fit: cover
        display: block

.mobile-feature-text
    width: 100%
    text-align: justify

.mobile-feature-p
    span
        font-size: 14px
        color: #908573
        line-height: 1.5